#input {
  border: 1px solid black;
  padding: 10px 19px;
  border-radius: 5px;
}


button {
    padding: 5px 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    background: #f8f9fa;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #e9ecef;
}